*{
    margin: 0;
    padding: 0;
}
.Home-section{
    min-height: 100vh;
    width: 100%;
    background-image:url( https://yeab123-et.github.io/mar/yab.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.Home-section h1{
   font-size: 50px;
    font-weight: 600;
    margin-bottom: 6px;
    color:white;
}
.Home-section p{
    color: white;
    font-weight:100;
    top: 60;
}
nav{
    display: flex;
    padding: 10px 20px;
    justify-content:right;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}
.nav-links ul li a{
    color:#ff6c28;
    text-decoration: none;
    font-size:20px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background:none;
    display: block;
    margin: auto;
    transition: 0.5%;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
     width: 90%;
     color: white;
     position: absolute;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
}
.text-box p{
    margin: auto;
    font-size: 21px;
}

.sub-header{
    height: 100vh;
    width: 100%;
    background-color: rgb(113, 70, 70);
    text-align: center;
    color: white;

}
    /* --- About Me Section --- */
.About-section{
   min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url( https://yeab123-et.github.io/mar/abab.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}
.About-section h1 {
    text-align: center;
    font-size: 36px;
    padding-top: 90px;
    margin-bottom: 30px;
    color: #deee4f;
}
.About-section p {
    max-width: 100%; 
    margin: auto; 
    padding: 0 20px 50px 20px;
    font-size: 22px;
    line-height: 1.8; 
    color: whitesmoke;
    text-align:justify;
}
.About-section p strong {
    color: #dbd035;
    font-weight: 700;
}
/*------------skill section---------*/
.Skill-section{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url( https://yeab123-et.github.io/mar/skill1.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}
.skills-header {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: #448ec6; 
}
.skills-text-block {
    max-width: 800px; 
    margin: auto; 
    padding: 20px 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.skills-text-block p {
    font-size: 28px;
    line-height: 1.8; 
    color:white;
    margin-bottom: 25px;
    text-align: justify; 
}
.skills-text-block p strong {
    color: #ea72de; 
    font-weight: 700;
}
@media (max-width: 7000px) {
    .skills-text-block {
        max-width: 90%; 
        padding: 15px 20px;
    }
}
/*-------contact section------*/
.Contact-section{
    min-height: 45vh;
    width: 100%;
    background-image: url(https://yeab123-et.github.io/mar/contactt.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}
.contact-row {
    width: 80%;
    margin: auto;
    display: flex; 
    justify-content: space-between; 
    padding-top: 50px;
}
.contact-col {
    flex-basis: 48%; 
    margin-bottom: 30px;
}
.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #eee;
    padding: 12px;
    border-radius: 10px;
}
.contact-col div .fa-solid{
    font-size: 28px;
    color: #101410;
    margin: 10px;
    margin-right: 30px;
}
.contact-col h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #3b8b92;
}
.contact-col p {
    padding: 20; 
    margin: 10;
    font-size: 25px;
    line-height: 1.6;
    color: #555;
}
@media (max-width: 700px) {
    .contact-row {
        flex-direction: column;
        width: 90%;
        padding-top: 20px;
    }
    .contact-col {
        flex-basis: 100%; 
        margin-bottom: 30px;
    }
    .contact-col div {
        padding: 10px;
        margin-bottom: 10px;
    }
    .contact-col div .fas {
        font-size: 24px;
        margin-right: 15px;
    }
}
 nav .fa-solid{
    display: none;
 }
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #0f0b0e;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/*-----------Education section-------*/

.Education-section{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(23, 24, 26, 0.7), rgba(4, 9, 30, 0.7)),url( https://yeab123-et.github.io/mar/education1.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}
h1 {
    text-align: center;
    font-size: 36px;
    padding-top: 40px;
    margin-bottom: 50px;
    color: #90d6d6;
}
.row {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.Education-col {
    flex-basis: 48%; 
    background: #8f667a;
    border-radius: 10px;
    margin-bottom: 25px; 
    padding: 30px 22px;
    box-sizing: border-box;
    transition: 0.7s; 
}
.Education-col:hover {
    box-shadow: 0 10 30px 10pxrgba(222, 146, 146, 0.4); 
    background: #3a95ae; 
}
.Education-col h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px; 
    font-size: 24px;
    color: white; 
}
.Education-col p {
    color: #c0c0c0; 
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
    .Education-col {
        flex-basis: 100%; 
    }
}
/*------------project section------*/

.Project-section{
min-height: 100vh;
    width: 100%;
    background-image:url( https://yeab123-et.github.io/mar/project.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}
.Project-section p{
    color:white;
    font-size:18px;
    line-height: 1.5;
}
.project-list{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top:auto;
}
.project-list div{
    background: #6c6647;
    padding: 90px;
    font-size: 12px;
    font-weight: 250;
    border-radius: 10px;
    transition: 2s;
}
.project-list > div h2{
font-size: 25px;
font-weight: 300;
margin-bottom: 17px;
color:white;
}
.project-list div:hover{
    box-shadow: 0 10 30px 10pxrgba(222, 146, 146, 0.4); 
    background: #293538; 
}
.btn-files {
    display: inline-block;
    background: #c1c5c9;
    color: #0f0b0e;
    padding: 7px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: small;
    margin-right: 15px;
    margin-top: 15px;
    transition: 0.4s;
}
.btn-files i{
    margin-right: 5px;
}
.btn-files:hover{
    background: rgb(241, 241, 236);
    color: #6e4b4b;
}
@media (max-width: 700px) {

    h1 {
        font-size: 36px !important; 
    }
.sub-title {
        font-size: 40px !important;
        margin-bottom: 30px;
    }
    .project-list {
        grid-template-columns: 1fr; 
        gap: 20px;
    }
    .project-list h2 {
        font-size: 20px;
    }
    .project-list p {
        font-size: 15px;
    }

}




